* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* -----------------styles for banner--------- */
.banner {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  gap: 95px;
  justify-content: space-between;
}
.banner-text {
  margin-left: 240px;
  margin-top: 197px;
}
.shop-slogan {
  width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
}
.shop-description {
  width: 634px;
  margin: 32px 0;
  text-align: justify;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  border: none;
  padding: 20px 43px;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: white;
}
.banner-image {
  margin-top: 50px;
  margin-right: 240px;
  width: 635px;
  height: 800px;
  flex-shrink: 0;
}
#banner-image {
  position: right;
}
/* --------------------Bonus section (Featured) */
.bonus-section-container {
  justify-content: center;
  width: 1920px;
  gap: 24px;
  margin: auto;
}
.bonus-section-text {
  align-items: center;
  margin-top: 178px;
  margin-bottom: 45px;
  /* width: 500px; */
}

.bonus-section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}
.bonus-section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;

  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}
.bonus-section-image1-container {
  display: block;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.bonus-section-image1-container img {
  width: 310px;
  height: 428px;
  flex-shrink: 0;
  padding: 110px 78px 0 76px;
}
.bonus-section-images {
  display: flex;
  margin-left: 240px;
  margin-right: 240px;
  justify-content: center;
  width: 1440px;
}
.bonus-section-image2-container {
  text-align: center;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.bonus-section-image3-container {
  text-align: center;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.bonus-section-image2-container img {
  width: 370px;
  height: 370px;
  padding: 117px 47px 51px 47px;
}
.bonus-section-image3-container img {
  width: 314px;
  height: 471px;
  padding: 67px 75px 0 75px;
}
.bonus-section-images {
  justify-content: space-between;
  align-content: center;
  margin: 20px 240px;
}
.flower-title {
  color: #272727;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
/* ----------------------------------------optional section styles------------------------- */
.optional-section {
  margin: 128px 240px;
}
.optional-section-container {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 320px;
  margin: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.optional-colum {
  padding: 86px 80px;
  text-align: center;
}
.optional-colum-text {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
}
/* .optional-img1 {
  margin-left: 200px;
}
.optional-img3 {
  margin-right: 200px;
} */
/* ---------------------------Hot deal Section-------------------- */
.hot-deal {
  display: flex;
  justify-content: space-between;
  height: 620px;
  border-radius: 8px;
  margin: auto;
  background: rgba(229, 84, 115, 0.05);
}
.hot-deal-heading {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.hot-deal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hot-deal-text {
  justify-content: center;
}
#hot-deal-img {
  width: 318px;
  height: 420px;
}
/* --------------------------------------Social Section----------------- */
#social-container {
  justify-content: center;
  margin: auto;
  margin-top: 128px;
  margin-bottom: 48px;
}
#social-images {
  margin: auto;
}
/* --------------------------------------------Latest deal section---------------- */
.latest-deal-container {
  width: 1440px;
  height: 449px;
  background-image: url("../Flower\ Asset/Rectangle\ 9.png");
  margin-left: 240px;
  margin-right: 240px;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
  padding-top: 122px;
  margin: auto;
  margin-top: 128px;
  margin-bottom: 128px;
}
.latest-deal-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  border: none;
  margin-right: 16px;
}

/* ------------------------------Footer section styles-------------------- */
.footer-section {
  height: 449px;
  background: #111010;
  justify-content: center;
}
.footer-container {
  justify-content: center;
  padding: 128px 650px;
  margin: auto;
}
#footer-title {
  color: #e55473;
}
#footer-desciption {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 625px;
}
.footer-last {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  margin-top: 32px;
}
