* {
  margin: 0;
  padding: 0;
  /* font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif; */
}

/* -------------------------------Shared class-------------------------- */
.paragraph-primary {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}
.h3-primary {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

/* -----------------styles for banner--------- */
.banner {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin: auto;
  padding: 50px 20px 0 20px;
}
.banner-text {
  margin: auto;
  margin-right: 50px;
}
.shop-slogan {
  width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
}
.shop-description {
  width: 634px;
  margin: 32px 0;
  text-align: justify;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  border: none;
  padding: 20px 43px;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: white;
}

#banner-image {
  position: right;
  width: 500px;
  height: 630px;
  padding-right: 150px;
  margin: auto;
}
/* --------------------Bonus section (Featured) */
.bonus-section-container {
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 1440px;
  gap: 24px;
  margin: auto;
}
/* .bonus-section-images {
  width: 1440px;
  margin: auto;
} */
.bonus-section-text {
  align-items: center;
  margin-top: 178px;
  margin-bottom: 45px;
  /* width: 500px; */
}

/* .bonus-section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
} */
/* .bonus-section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;

  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
} */
.bonus-section-image1-container {
  display: block;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 364px;
  height: 438px;
}
.bonus-section-image1-container img {
  width: 210px;
  height: 328px;
  flex-shrink: 0;
  padding: 110px 78px 0 76px;
}
.bonus-section-images {
  display: flex;
  /* margin-left: 240px;
  margin-right: 240px; */
  text-align: center;
  margin: auto;
  justify-content: center;
  width: 1140px;
}
.bonus-anchors {
  display: flex;
  text-align: justify;
  margin: auto;
  justify-content: space-between;
  width: 1140px;
}

.bonus-section-image2-container {
  /* width: 464px;
  height: 538px; */
  width: 364px;
  height: 438px;

  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.bonus-section-image3-container {
  /* width: 464px;
  height: 538px; */
  width: 364px;
  height: 438px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.bonus-section-image2-container img {
  /* width: 370px;
  height: 370px; */
  width: 210px;
  height: 328px;
  padding: 117px 47px 51px 47px;
}
.bonus-section-image3-container img {
  /* width: 314px;
  height: 471px; */
  width: 210px;
  height: 328px;
  padding: 67px 75px 0 75px;
}
.bonus-section-images {
  justify-content: space-between;
  align-content: center;
  margin: 20px 100px;
}
.flower-title {
  color: #272727;
  font-family: Lato;
  font-size: 24px;
  margin: auto;
  /* font-weight: 700;
  line-height: 35px; */
}
/* ----------------------------------------optional section styles------------------------- */
.optional-section {
  width: 1140px;
  margin: auto;
  margin-top: 128px;
  margin-bottom: 128px;
  /* width: 50%; */
}
.optional-section-container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 320px;
  margin: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.optional-colum {
  padding: 86px 40px;
  text-align: center;
}
.optional-colum-text {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  margin-top: 24px;
  font-size: 24px;
}
/* .optional-img1 {
  margin-left: 200px;
}
.optional-img3 {
  margin-right: 200px;
} */
/* ------------------------------------------Hot deal Section---------------------------- */
.hot-deal {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.hot-deal-heading {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  position: right;
}
.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin-top: 24px;
  margin-bottom: 30px;
  position: right;
}
.hot-deal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hot-deal-text {
  justify-content: center;
}
#hot-deal-img {
  width: 318px;
  height: 420px;
}
/* --------------------------------------Social Section----------------- */
#social-container {
  justify-content: center;
  margin: auto;
  margin-top: 128px;
  margin-bottom: 48px;
  /* justify-content: space-between; */
  width: 1140px;
}
#social-images {
  margin: auto;
}
#social-images img {
  width: 240px;
  height: 280px;
}
/* --------------------------------------------Latest deal section---------------- */
.latest-deal-container {
  width: 1140px;
  height: 449px;
  background-image: url("../Flower\ Asset/Rectangle\ 9.png");
  margin-left: 240px;
  margin-right: 240px;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
  padding-top: 122px;
  margin: auto;
  margin-top: 128px;
  margin-bottom: 128px;
}
.latest-deal-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.email {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  border: none;
  margin-right: 16px;
  padding-left: 20px;
}

/* ------------------------------Footer section styles-------------------- */
.footer-section {
  height: 449px;
  background: #111010;
  justify-content: center;
}
.footer-container {
  justify-content: center;
  padding: 128px 250px;
  margin: auto;
}
#footer-title {
  color: #e55473;
}
#footer-desciption {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 625px;
}
.footer-last {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  margin-top: 32px;
}
/* ------------------------------------Extra section styles-------------------- */
.extra-section-container {
  display: flex;
  /* margin-left: 240px;
  margin-right: 240px; */
  margin: auto;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
  max-width: 1440px;
}
.extra-section-colum {
  width: 25%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #fdfbfb;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.extra-section-container img {
  width: 200px;
  height: 240px;
}
.flower-name {
  color: #744747;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 20px;
}
.flower-details {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.add-to-card-btn {
  padding: 20px 43px;
  gap: 10px;
  border: none;
  border-radius: 30px;
  background: #dd5573;
  color: white;
}
.arrow {
  justify-content: center;
  text-align: center;
  position: left;
}
.arrow img {
  height: 100px;
  width: 100px;
  margin-top: 250px;
}
.arrow p {
  color: #744747;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 20px;
}
.price {
  font-weight: bold;
  color: rgb(248, 128, 128);
}
